html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #FAFAFA;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

/* TODO Clean this up */
div.CodeMirror {
    height: 100%;
    background: #FAFAFA;
    padding: 20px;
}

.CodeMirror pre {
    line-height: 1.6em;
}

.CodeMirror-gutters {
    display: none;
}


/* Base app styles */
/* Move this to different files eventually */
.app {
    height: 100%;
    padding: 0;
    display: flex;
}

.sidebar-container {
    height: 100%;
    display: flex;
}

.sidebar {
    width: 150px;
    background-color: aqua;
    height: 100%;
}

.links {
    background-color: aquamarine;
}

.editable {
    height: 100%;
    flex-grow: 1;
}