.sidebar {
    font-size: 10pt;
    font-weight: 600;
    padding-top: 40px;
}

.sidebar.links {
    background: #121E26;
    color: #F2FAFF;
    border-right: 1px solid #1D323D;
}

.sidebar.instances {
    width: 250px;
    background: #121E26;
    color: #F2FAFF;
    border-right: 1px solid #1D323D;
}

.sidebar ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    width: 100%;
    padding: 7px 15px;
    cursor: pointer;
}

.sidebar ul li.selected {
    background: #185675;
}